.menu-item {
  height: fit-content;
  cursor: pointer;
  transition: height 0.8s ease-in-out;
  overflow: hidden;
  background-color: #c27b25;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}
.open-item {
  height: 450px;
  transition: height 0.8s ease-in-out;
}

.menu-content {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

.menu-content a {
  padding-right: 10px;
  position: relative;
  z-index: 3;
  font-weight: 700;
  color: #fff;
}

.menu-content span {
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #ffb03b;
  padding: 3px 5px;
}

.menu-ingredients {
  font-style: italic;
  font-size: 14px;
  font-family: "Comic Neue", sans-serif;
  line-height: 22px;
  color: #000;
}
@media (max-width: 992px) {
  .specials .nav-link {
    border: 0;
    padding: 15px;
  }

  .specials .nav-link.active {
    color: #fff;
    background: #c27b25;
  }
}
.name-product {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 1);
}

._2iLxz {
  left: 30% !important;
  color: #fff !important;
  background: #ffb03b !important;
  border: 1px solid #c27b25 !important;

}
.test_btn {
  position: absolute;
  right: 20% !important;
  bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 1.25rem;
  border-radius: 25px;
  color: #fff;
  background: #ffb03b;
  border: 1px solid #c27b25;
  height: 54px;
  padding: 0px 16px;
}
.back {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 25px;
  color: #fff;
  background: #ffb03b;
  border: 1px solid #c27b25;
  height: 32px;
  padding: 0px 13px;
  margin-top: 20px;
  margin-left: 20px;
}
